@charset "UTF-8";
body {
    background-color: #55efc4;
    margin-top: 0px;
}
header {
    background-color: #00acb8;
    height: 200px;
    padding: 20px;
    margin-bottom: 20px;
}
header h1 {
    color: white;
    font-size: 52px;
    font-weight: 100;
    margin-bottom: 0px;
}
header p {
    color: white;
    font-size: 26px;
    font-weight: 100;
    margin-top: 0px;
}
main {
    min-height: 400px;
    background-color: rgb(24, 151, 160);
    display: flex; /* parent is a flex container */
    flex-direction: ; /* main axis */
    flex-wrap: wrap;
    justify-content: space-evenly; /* aligns flex-items */
    align-items: ; /* aligns flex itmes along the cross axis */
}
main section:nth-child(odd) {
    background-color: rgb(44, 44, 139);

}

main section { /* parent is a flex container and we are are flex-items */ 
    width: 250px;
    height: 250px;
    background-color: rgb(133, 42, 42);
}
    