@charset "UTF-8";

body {
    background-color: white;
}

/**************
     Huvudsida
**************/
header {
    height: 100px ;
    width: 100%;
    background-color: #485460
}
header h1 {
    font-size: 60px;
    margin-left: 40%;
    color: #ecf0f1
}

.undersida1 {
    height: 250px;
    width: 100%;
    background-color: #d2dae2;
}

section {
    height: 50px;
    width: 100%;
    background-color: #485460;
}

.undersida2 {
    height: 250px;
    width: 100%;
    background-color: #d2dae2;
}

.undersida1 a {
    font-size: 230px;
    margin-left: 25%;
    text-decoration: none;
    color: black;
}

.undersida2 a {
    font-size: 230px;
    margin-left: 30%;
    text-decoration: none;
    color: black;
}

footer {
    height: 200px;
    width: 100%;
    background-color: #485460;
}

footer h1 {
    color: white;
    margin-left: 45%;
}

footer a {
    color: white;
    margin-left: 46%;
}


/***************
    Undersidor
***************/

.namn {
    height: 100px;
    width: 100%;
}

.parent {
    height: 750px;
    width: 100%;
}

.information {
    height: 750px;
    flex: 1;
    background-color: #d2dae2;
}

.information h1 {
    font-size: xx-large;
    margin-left: 25%;
}

.information a {
    word-spacing: 3px;
    line-height: 50px;
}

.överbild {
    height: 750px;
    flex: 1;
    background-color: #d2dae2;
}

.bilder {
    height: 250px;
    width: 100%;
    background-color: #485460;
}

.karaktarer {
    height: 500px;
    width: 100%;
    background-color: #d2dae2;
}
.namn h1 {
    font-size: 100px;
    margin-left: 40%;
    margin-top: 0px;
}

.skadespelare {
    height: 500px;
    flex: 1;
    background-color: #d2dae2;
}


/*************
     Flex
*************/

.addflex{
    display: flex;
    justify-content: center;
    align-items: center;
}