* {
    box-sizing: border-box;
}

body {
    border: 3px solid black;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

header {
    background: coral;
}

h1 {
    color: red;
    margin: 0;
}

h2 {
    color: blue;
    margin: 0;
}

img {
    max-width: 100%;
}

.special-headline {
    color: yellow;
}

nav {
    padding: 10px;
}

main {
    display: flex;
    flex-direction: column;
}

section {
    border: 3px solid black;
    background: lightblue;
    width: 100%;
    padding: 10px;
}

input {
    display: block;
    margin: auto;
}

fieldset {
    text-align: center;
}

#input-textarea {
    width: 100%;
}

@media screen and (min-width:600px) {
    main {
        flex-direction: row;
    }
    section {
        width: 50%;
    }
}

@media screen and (min-width:1200px) {
    section {
        margin: 0 50px;
    }
}