@charset "UTF-8";
body {
    background-color: darkgreen;
}

nav {
    background-color: green;
    width: 100%;
    height: 75px;
}

header {
    background-color: rgb(28, 155, 28);
    width: 100%;
    height: 300px;
}

section {
    background-color: limegreen;
    width: 100%;
    height: 250px;
    margin-bottom: 10px;
}

footer {
    background-color: rgb(62, 168, 12);
    width: 100%;
    height: 125px;
}




